.invoice-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice-header {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    list-style: none;
    text-align: center;
    color: rgb(173, 173, 173);
}


.invoice-item {
    width: 200px;
    padding: 10px 5px;
    overflow-wrap: break-word;
    text-align: center;
}

@media screen and (max-width:800px) {
    .invoice-list {
        width: 100%;
    }

    .invoice-header {
        font-size: 11px;
        width: 100%;
        padding: 5px;
    }


    .invoice-item {
        width: 100px;
        padding: 3px;
        font-size: 8px;
    }
}